{
    "proj_name": "ramshaw-3435-b",
    "run_cycle": "2024-1",
    "specfile": "Mn3Ge",
    "sample": "2401B",
    "start_scan_num": "5" ,
    "temperature": "428",
    "temperdir": "428/",
    "a": "5.34",
    "b": "5.34",
    "c": "4.3",
    "alpha": "90.0",
    "beta": "90.0",
    "gamma": "120.0"
}