{
    "proj_name": "hufnagel-3957-c",
    "run_cycle": "2024-3",
    "specfile": "FeNiCr",
    "sample": "bar_1",
    "start_scan_num": "23" ,
    "temperature": "25",
    "percofmax": "0.95",
    "min_braggs_peak": "300",
    "max_braggs_peak": "2000",
    "max_chisq": "0.035",
    "a": "3.569",
    "b": "3.569",
    "c": "3.569",
    "alpha": "90.0",
    "beta": "90.0",
    "gamma": "90.0"
}