{
    "proj_name": "ramshaw-3435-b",
    "run_cycle": "2024-1",
    "specfile": "Mn3Ge",
    "sample": "2401B",
    "start_scan_num": "5" ,
    "temperature": "428",
    "percofmax": "0.95",
    "min_braggs_peak": "300",
    "max_braggs_peak": "2000",
    "max_chisq": "0.035",
    "a": "5.34",
    "b": "5.34",
    "c": "4.3",
    "alpha": "90.0",
    "beta": "90.0",
    "gamma": "120.0"
}